//- ================
//- Nav Main Partial
//- ================

ol
  li
    a(
      href="https://github.com/mimoduo/Mimogear"
      itemprop="url"
    ) View on Github
  li
    a(
      href="https://github.com/mimoduo/Mimogear/tree/master/docs"
      itemprop="url"
    ) Documentation
