table
  thead
    tr
      th(scope="col") Header One
      th(scope="col") Header Two
      th(scope="col") Header Three
  tbody
    tr(scope="row")
      td Row Item One
      td Row Item Two
      td Row Item Three
    tr(scope="row")
      td Row Item One
      td Row Item Two
      td Row Item Three
    tr(scope="row")
      td Row Item One
      td Row Item Two
      td Row Item Three
    tr(scope="row")
      td Row Item One
      td Row Item Two
      td Row Item Three
