/* ================
// Universal Structure
// ============= */

* {
  position: relative;
}


/* ================
// html, universal, & body
// ============= */

html {
  box-sizing: border-box;
  font-family: $sansSerif;
  color: $bodyColor;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: em($bodySize, 16);
  line-height: nu($bodyLine, $bodySize);
}
