@define-mixin visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
}

@define-mixin unhide-visually-hidden {
  position: relative;
  clip: auto;
  height: auto;
  width: auto;
}
