/* ================
// Form Container
// ============= */

form {}

  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }

    label {}

    input {

      &[type='text'] {}

      &[type='radio'] {}

      &[type='checkbox'] {}

      &[type='submit'] {}
    }

    select {
      appearance: none;
    }

    textarea {
      min-height: em(220);
    }
