//- ================
//- Site Header
//- ================

header.site-header(role="banner")
  .hat
    .drawer-trigger
    .drawer
  .scarf
    .compartment
      a.site-logo(href="/")
        +symbol("logo")
