//- ================
//- Site Footer
//- ================

footer.site-footer(role="contentinfo")
  block footer
    include ../partials/address.pug

script(src="./dist/js/site.js")
block additional-scripts
