//- ================
//- Site Header
//- ================

header.site-header(role="banner")
  button.drawer-trigger
  .drawer
    .nav-main
      include ../partials/nav-main.pug
  a.site-logo(href="/")
    span.site-logo-label= siteTitle
    +symbol("logo")
