//- ================
//- Site Header
//- ================

header.site-header(role="banner")
  block header
    a.site-logo(href="./")
      span.site-logo-label= siteTitle
      +symbol("logo")
    button.drawer-trigger
    .drawer
      nav.main-nav
        include ../partials/main-nav.pug
