//- ================
//- Site Header
//- ================

header.site-header(role="banner")
  button.drawer-trigger
  .drawer
    nav.main-nav
      include ../partials/main-nav.pug
  a.site-logo(href="/")
    span.site-logo-label= siteTitle
    +symbol("logo")
