//- ================
//- Site Header
//- ================

header.site-header(role="banner")
  button.drawer-trigger
  .drawer
    p= siteDescription
  a.site-logo(href="/")
    span.site-logo-label= siteTitle
    +symbol("logo")
