header.site-header(role="banner")
  block header
    a.site-logo(href="./")
      span.site-logo-label= siteTitle
      +icon("logo")
    button.drawer-trigger
    .drawer
      include ../partials/main-nav.pug
