header.site-header(role="banner")
  +section
    .site-header-ribbon
      block header
        a.site-logo(href="./")
          span.site-logo-label= siteTitle
          +icon("logo")
        button.menu-trigger
        .menu
          include ../partials/main-nav.pug
