/* ================
// Generic Navigation/Menu Behaviors
// ============= */

nav,
menu {

  & ol {
    @mixin list-reset;
  }

    & li {

      &:focus,
      &:hover {

        & ol {
          opacity: 1;
          visibility: visible;
        }

      }

      & ol {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 20;
        opacity: 0;
        visibility: hidden;
      }

    }

    & a {
      display: block;
    }

}


/* ================
// Skip Link
// ============= */

.skip-link {
  @mixin visually-hidden;

  &:focus {
    @mixin reset-visually-hidden;
  }

}
