include mixins/image.pug
include mixins/gallery.pug
include mixins/icon.pug
include mixins/section.pug

block theme
  - var themeName = ""

doctype html
html(
  lang="en"
  class=themeName
)
  include regions/head.pug
  body
    a.skip-link(href="#site-main") Skip to main content
    block sprite
      figure.site-sprite(style="display: none;")
        include ../../dist/svg/sprite.symbol.svg
    include regions/header.pug
    main.site-main#site-main(role="main")
      block content
    include regions/footer.pug
