/*

  structure/regions

*/


/* ================
// Header
// ============= */

.site-header {}


/* ================
// Main
// ============= */

.site-main {}


/* ================
// Footer
// ============= */

.site-footer {}
