/* ================
// Universal Structure
// ============= */

* {
  position: relative;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}


/* ================
// html & body
// ============= */

html {
  font-family: $sansSerif;
  color: $bodyColor;
}

  body {
    font-size: em($bodySize, 16);
    line-height: nu($bodyLine, $bodySize);
  }
