//- ================
//- Section Inclusion
//- ================

mixin section(modifier)
  if modifier
    .section(class="section-#{modifier}")
      .compartment
        block
  else
    .section
      .compartment
        block
