/* ================
// Drawer Mixin
// ============= */

@define-mixin drawer $transform-value: -20% {
  position: absolute;
  min-height: 100%;
  width: 100%;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translate($transform-value, 0);
  transform: translate3d($transform-value, 0, 0);
}

@define-mixin active-drawer {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
}

@define-mixin reset-drawer {
  @mixin active-drawer;
  position: relative;
  top: auto;
  max-width: inherit;
  min-height: inherit;
  transition: none;
}


/* ================
// Drawer
// ============= */

.drawer {
  @mixin drawer -20%;
  top: 100%;
  left: 0;
  z-index: 200;
  max-width: em(400);
  transition:
    opacity .3s,
    visibility .3s,
    transform .3s;

  .drawer-activated & {
    @mixin active-drawer;
  }

}


/* ================
// Drawer Trigger
// ============= */

.drawer-trigger {
  position: relative;
  z-index: 400;
  height: em(60);
  width: em(60);
  border: 0;
  padding: 0;
  cursor: pointer;
  background: none;

  @media print {
    display: none;
  }

  &:before,
  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    height: rem(2);
    width: em(20);
    content: '';
    background: currentColor;
    color: #000;
    transform: translate(-50%, -50%);
    transition:
      background .25s,
      box-shadow .25s,
      margin .25s,
      transform .25s;
  }

  &:before {
    margin-top: em(-5);

    .drawer-activated & {
      margin-top: 0;
      transform:
        translate(-50%, -50%)
        rotate(-45deg);
    }

  }

  &:after {
    box-shadow: 0 em(5) 0 0 currentColor;

    .drawer-activated & {
      box-shadow: 0 0 0 0 transparent;
      transform:
        translate(-50%, -50%)
        rotate(45deg);
    }

  }

  &:focus,
  &:hover {}

}
