/* ================
// Grid / Columns
// ============= */

.grid {
  display: flex;
  flex-wrap: wrap;

  &:after {
    @mixin clear;
  }

  &-centered {
    align-content: center;
    align-items: center;
  }

}

  .col {
    float: left;
    width: 100%;
  }

  @media (min-width: $medium) {

    .col-medium {
      create-grid: 12;
    }

  }
