/* ================
// Harmonica
// ============= */

/* When do accordions become harmonicas? */
$accordion-to-harmonica: 900px;

.harmonica {

  @mixin media $accordion-to-harmonica {
    display: flex;
    flex-wrap: wrap;
  }

}

  .harmonica-header {
    width: 100%;
    cursor: pointer;

    @mixin media $accordion-to-harmonica {
      flex: auto;
      order: 1;
      width: auto;
    }

    &:focus,
    &:hover {}

    &-active {}

  }

    .harmonica-indicator {
      display: table-cell;
      vertical-align: middle;
      padding-right: em(10);

      @mixin media $accordion-to-harmonica {
        display: none;
      }

    }

      .symbol-harmonica-open {

        .harmonica-header-active & {
          display: none;
        }

      }

      .symbol-harmonica-close {
        display: none;

        .harmonica-header-active & {
          display: block;
        }

      }

    .harmonica-heading {
      display: table-cell;
    }

  .harmonica-content {
    display: none;

    @mixin media $accordion-to-harmonica {
      order: 2;
      width: 100%;
    }

    @media print {
      display: block;
    }

    .harmonica-header-active + & {
      display: block;
    }

  }
