/* ================
// Lantern Lightbox
// ============= */

/* Inline lantern image */
.lantern-light {
  cursor: zoom-in;
  user-select: none;

  @media print {
    max-width: em(200);
  }

}

.lantern {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 800;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity .25s,
    visibility .25s;

  &-visible {
    opacity: 1;
    visibility: visible;
  }

}

  .lantern-content {
    height: 100%;
    width: 100%;
  }

    /* Lantern Image Container */
    .lantern-holder {
      top: 50%;
      display: block;
      max-height: 100%;
      max-width: 100%;
      margin: 0 auto;
      user-select: none;
      transform: translate(0, -50%);
    }

    /* Lantern User Controls */
    .lantern-control {
      position: absolute;
      top: 50%;
      cursor: pointer;
      transform: translate(0, -50%);
    }

    .lantern-previous {
      left: 0;
    }

    .lantern-next {
      right: 0;
    }

    .lantern-close {
      top: 0;
      right: 0;
    }
