/* ================
// Variables
// ============= */

$m1: #0277BD;
$m2: #64FFDA;
$m3: #FFFF00;
$m4: #F57F17;

$s1: #E0E0E0;
$s2: #9E9E9E;


/* ================
// Type
// ============= */

.mimo-theme {

  body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
  }

  h2,
  h3 {
    font-weight: 400;
  }

  h1 {
    margin: 0;
    font-size: 15vmin;
    font-weight: 700;
    letter-spacing: em(2);
    text-shadow: 0 rem(3) 0 $m2;
  }

  h2 {
    margin: 0 0 3vmin;
    font-size: 6.85vmin;
  }

  h3 {
    margin-top: 0;
    font-size: 4vmin;
  }

  .lead {
    letter-spacing: em(1);

    @mixin media $small {
      letter-spacing: em(2.5);
    }

  }

}


/* ================
// Symbols
// ============= */

.mimo-theme {

  .symbol {
    display: inline-block;
    vertical-align: middle;
    height: em(20);
    width: em(20);
    fill: currentColor;

    &-logo {
      display: none;
    }

  }

}


/* ================
// Resets
// ============= */

.mimo-theme {

  .drawer-trigger {
    display: none;
  }

  .site-logo {
    display: none;
  }

}


/* ================
// Header
// ============= */

.mimo-theme {

  .site-header {
    text-align: center;

    &:after {
      @mixin clearfix;
    }

  }

}


/* ================
// Actions
// ============= */

.mimo-theme {

  .actions {
    display: inline-block;
    text-align: center;
  }

    .action-link {
      display: inline-block;
      padding: em(16, 14) em(14, 14) em(15, 14);
      font-size: em(14);
      text-align: center;
      text-decoration: none;
      color: inherit;
      transition: background .25s;

      @mixin media $small {
        padding: em(15, 14) em(30, 14);
        letter-spacing: em(2, 14);
      }

      &:after {
        position: absolute;
        top: 50%;
        right: 0;
        z-index: 20;
        content: '\2022';
        color: $s2;
        filter: none;
        transform: translate(50%, -50%);
      }

      &:last-child {

        &:after {
          display: none;
        }

      }

      .symbol {
        display: block;
        margin: 0 auto;
      }

    }

      .action-link-label {
        display: none;

        @mixin media $small {
          display: inline-block;
          vertical-align: middle;
          text-transform: uppercase;
        }

      }

}


/* ================
// Section
// ============= */

.mimo-theme {

  .section {

    &-intro {
      overflow: hidden;
      padding: em(60) em(10) em(40);
      text-align: center;
    }

    &-terminal {

      .compartment {
        max-width: rem(640);
        padding: em(10);
        background:
          linear-gradient(
            45deg,
              $m1,
              $m2 100%
          );
        border-radius: em(4);
      }

        .symbol-gear {
          position: absolute;
          top: 0;
          left: 50%;
          font-size: 20vmin;
          animation: gear-spin 40s infinite linear;
          fill: $m2;
          mix-blend-mode: hard-light;
          transform:
            translate(-50%, -50%)
            rotate(0);
        }

    }

  }

}

@keyframes gear-spin {

  100% {
    transform:
      translate(-50%, -50%)
      rotate(360deg);
  }

}


/* ================
// Flare
// ============= */

.mimo-theme {

  .site-flag {
    display: flex;
    align-items: center;
    margin-bottom: em(20);
  }

    .site-lace {
      flex: 1;
      height: em(20);
      border-radius: 50%;
      opacity: 0;

      &:first-child {
        animation: site-lace-one 2s .85s forwards;
        background:
          linear-gradient(
            -45deg,
              $m1,
              $m2 15%,
              transparent 25%
          );
        transform-origin: right bottom;
        transform:
          rotate(10deg)
          skewX(80deg);
      }

      &:last-child {
        animation: site-lace-two 2s .85s forwards;
        background:
          linear-gradient(
            45deg,
              $m1,
              $m2 15%,
              transparent 25%
          );
        transform-origin: left bottom;
        transform:
          rotate(-10deg)
          skewX(-80deg);
      }

    }

    .site-flare {
      z-index: 2;
      height: em(55);
      width: em(55);
      margin: 0 auto;
      animation: spin-flare 1.5s forwards;
      background:
        linear-gradient(
          -25deg,
            $m4,
            $m3 100%
        );
      border-radius: 0;
      transform:
        rotate(-45deg)
        scale(0);

      &:before,
      &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 94%;
        width: 94%;
        content: "";
        border-radius: 15%;
      }

      &:before {
        animation: spin-flare-layer-one 1.5s .15s forwards;
        background:
          linear-gradient(
            25deg,
              $m1,
              $m2 100%
          );
        transform:
          translate(-50%, -50%)
          rotate(-60deg)
          scale(0);
      }

      &:after {
        animation: spin-flare-layer-two 1.5s .3s forwards;
        background:
          radial-gradient(
            ellipse at 50% 50%,
              $m1,
              $m2 em(15),
              transparent em(15)
          ),
          linear-gradient(
            25deg,
              $m1,
              $m2 100%
          );
        transform:
          translate(-50%, -50%)
          rotate(-20deg)
          scale(0);
      }

    }

}

@keyframes site-lace-one {

  100% {
    opacity: 1;
    transform:
      rotate(20deg)
      skewX(80deg);
  }

}

@keyframes site-lace-two {

  100% {
    opacity: 1;
    transform:
      rotate(-20deg)
      skewX(-80deg);
  }

}

@keyframes spin-flare {

  100% {
    transform:
      rotate(45deg)
      scale(1);
  }

}

@keyframes spin-flare-layer-one {

  100% {
    transform:
      translate(-50%, -50%)
      rotate(-20deg)
      scale(1);
  }

}

@keyframes spin-flare-layer-two {

  100% {
    transform:
      translate(-50%, -50%)
      rotate(20deg)
      scale(1);
  }

}



/* ================
// Site Name
// ============= */

.mimo-theme {

  .site-link {
    text-decoration: none;
    color: inherit;
  }

}


/* ================
// Call to Action
// ============= */

.mimo-theme {

  .call-to-action {
    color: inherit;
    transition: filter .25s;

    &:focus,
    &:hover {
      filter: drop-shadow(0 2px 0 $m2);

      .symbol {

        &:nth-child(-n+2) {
          transform: translate(-50%, 0);
        }

        &-github {
          transform: scale(1.5);
        }

        &:nth-child(n+4) {
          transform: translate(50%, 0);
        }

      }

    }

    .symbol {
      transition: transform .25s;

      &-github {
        margin: 0 em(8);
        font-size: 200%;
      }

    }

  }

}


/* ================
// Summary
// ============= */


.mimo-theme {

  .summary {
    max-width: rem(520);
    width: 100%;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-bottom: em(10);
    font-size: em(24);
  }

}


/* ================
// Terminal
// ============= */

.mimo-theme {

  .terminal-pillow {
    padding: em(20);
    background: #fff;
    border-radius: em(4);
  }

    .code-pillow {
      overflow: hidden;
      overflow-x: auto;
      border: em(1) solid $s2;
      border-top-width: em(10);
      border-radius: em(4);
      padding: em(10);
    }

      .code {
        display: block;
        white-space: nowrap;
      }

}
