/* ================
// Variables
// ============= */

$m1: #0277BD;
$m2: #64FFDA;
$m3: #FFFF00;
$m4: #F57F17;

$s1: #E0E0E0;
$s2: #424242;


/* ================
// Type
// ============= */

.mimo-theme {

  body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
  }

  h2,
  h3 {
    font-weight: 400;
  }

  h1 {
    margin: 0;
    font-size: 15vmin;
    font-weight: 700;
    letter-spacing: em(2);
    text-shadow: 0 rem(3) 0 $m2;
  }

  h2 {
    margin: 0 0 3vmin;
    font-size: 6.85vmin;
  }

  h3 {
    margin-top: 0;
    font-size: 4vmin;
  }

  .lead {
    letter-spacing: em(1);

    @mixin media $small {
      letter-spacing: em(2.5);
    }

  }

}


/* ================
// Symbols
// ============= */

.mimo-theme {

  .symbol {
    display: inline-block;
    vertical-align: middle;
    height: em(20);
    width: em(20);
    fill: currentColor;

    &-logo {
      display: none;
    }

  }

}


/* ================
// Resets
// ============= */

.mimo-theme {

  .drawer-trigger {
    display: none;
  }

  .site-logo {
    display: none;
  }

}


/* ================
// Header
// ============= */

.mimo-theme {

  .site-header {
    border-top: 1px solid $s1;
    text-align: center;

    &:after {
      @mixin clearfix;
    }

  }

}


/* ================
// Actions
// ============= */

.mimo-theme {

  .actions {
    text-align: center;
  }

    .action-link {
      display: inline-block;
      padding: em(16, 14) em(14, 14) em(15, 14);
      font-size: em(14);
      text-decoration: none;
      color: inherit;
      transition: background .25s;

      @mixin media $small {
        padding: em(15, 14) em(20, 14);
      }

      &:before,
      &:after {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 1px;
        content: '';
        background:
          linear-gradient(
            to bottom,
              $m2,
              $m1 100%
          );
      }

      &:focus,
      &:hover {
        background: #FFF59D;
      }

      &:last-child {

        &:after {
          right: 0;
          left: auto;
        }
      }

    }

      .symbol-action {

        @mixin media $small {
          margin-right: em(5, 14);
        }

      }

      .action-link-label {
        display: none;

        @mixin media $small {
          display: inline-block;
          vertical-align: middle;
        }

      }

}


/* ================
// Main
// ============= */

.mimo-theme {

  .site-main {

    &:before {
      display: block;
      height: em(1);
      content: '';
      background:
        radial-gradient(
          ellipse at center,
            $m1,
            $m2 100%
        );
    }

  }

}


/* ================
// Section
// ============= */

.mimo-theme {

  .section {

    &-intro {
      overflow: hidden;
      padding: 10vmin em(10) 4vmin;
      text-align: center;
    }

    &-terminal {

      .compartment {
        max-width: rem(640);
        padding: em(10);
        background:
          linear-gradient(
            45deg,
              $m1,
              $m2 100%
          );
        border-radius: em(4);
      }

        .symbol-gear {
          position: absolute;
          top: 0;
          left: 50%;
          font-size: 20vmin;
          fill: $m2;
          mix-blend-mode: hard-light;
          transform: translate(-50%, -40%);
        }

    }

  }

}


/* ================
// Flare
// ============= */

.mimo-theme {

  .site-flag {
    display: flex;
    align-items: center;
    margin-bottom: 6vmin;
  }

    .site-lace {
      flex: 1;
      height: em(20);
      border-radius: 50%;

      &:first-child {
        background:
          linear-gradient(
            -45deg,
              $m1,
              $m2 15%,
              transparent 25%
          );
        transform-origin: right bottom;
        transform:
          rotate(20deg)
          skewX(80deg);
      }

      &:last-child {
        background:
          linear-gradient(
            45deg,
              $m1,
              $m2 15%,
              transparent 25%
          );
        transform-origin: left bottom;
        transform:
          rotate(-20deg)
          skewX(-80deg);
      }

    }

    .site-flare {
      z-index: 2;
      height: 80px;
      width: 80px;
      margin: 0 auto;
      background:
        linear-gradient(
          -25deg,
            $m4,
            $m3 100%
        );
      border-radius: 0;
      transform: rotate(45deg);

      &:before,
      &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 94%;
        width: 94%;
        content: "";
        border-radius: 15%;
      }

      &:before {
        background:
          linear-gradient(
            25deg,
              $m1,
              $m2 100%
          );
        transform:
          translate(-50%, -50%)
          rotate(-20deg);
      }

      &:after {
        background:
          radial-gradient(
            ellipse at 50% 50%,
              $m1,
              $m2 em(20),
              transparent em(20)
          ),
          linear-gradient(
            25deg,
              $m1,
              $m2 100%
          );
        transform:
          translate(-50%, -50%)
          rotate(20deg);
      }

    }

}


/* ================
// Site Name
// ============= */

.mimo-theme {

  .site-link {
    text-decoration: none;
    color: inherit;
  }

}


/* ================
// Call to Action
// ============= */

.mimo-theme {

  .call-to-action {
    color: inherit;

    .symbol-github {
      margin: 0 em(8);
      font-size: 200%;
    }

  }

}


/* ================
// Summary
// ============= */


.mimo-theme {

  .summary {
    max-width: 82vmin;
    width: 100%;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-bottom: em(10);
    font-size: em(24);
  }

}


/* ================
// Terminal
// ============= */

.mimo-theme {

  .terminal-pillow {
    padding: em(20);
    background: #fff;
    border-radius: em(4);
  }

    .code-pillow {
      overflow: hidden;
      overflow-x: auto;
      border: em(1) solid $s2;
      border-top-width: em(10);
      border-radius: em(4);
      padding: em(10);
    }

      .code {
        display: block;
        white-space: nowrap;
      }

}
