@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* ================
// Variables
// ============= */

$m1: #9e12ef;
$m2: #f0d0ff;


/* ================
// Type
// ============= */

.mimo-theme {
  font-family: 'Quicksand';
  color: $m1;

  & body {
    font-size: em(18);
    line-height: nu(28, 18);
  }

  & h2,
  & h4 {
    font-weight: 700;
  }

  & h2 {
    display: inline-block;
    border-bottom: rem(3) solid currentColor;
    margin: 0;
    padding-bottom: rem(8);
    font-size: em(24, 18);

    @mixin media $tiny {
      font-size: em(32, 18);
    }

  }

  & h4 {
    margin: 0 0 rem(10);
    font-size: em(20, 18);

    @mixin media $tiny {
      font-size: em(24, 18);
    }
  }

  & p {
    margin: rem(10) 0;
  }

  & .lead {
    margin-bottom: em(40, 18);

    @mixin media $tiny {
      font-size: em(20, 18);
    }

  }

}


/* ================
// Drawer
// ============= */

.mimo-theme {

  & .drawer-trigger {
    left: em(-15);
    font-size: em(16, 18);

    &:before,
    &:after {
      color: $m1;
    }

  }

  & .drawer {
    padding: em(20, 18);
    background: $m1;
    color: #fff;
  }

}


/* ================
// Icons
// ============= */

.mimo-theme {

  & .symbol {
    height: em(20, 18);
    width: em(20, 18);
  }

  & .symbol-logo {
    height: em(64, 18);
    max-width: em(380, 18);
    width: 100%;
    fill: $m1;
  }

}


/* ================
// Navigation
// ============= */

.mimo-theme {

  & .nav-main {

    & a {
      text-decoration: none;
      color: inherit;
    }

  }

}


/* ================
// Regions
// ============= */

.mimo-theme {

  & .site-header,
  & .site-footer {
    @mixin compartment 1040;
    padding: em(20, 18);
  }

}


/* ================
// Section
// ============= */

.mimo-theme {

  & .section {
    color: $m1;

    &:nth-of-type(odd) {
      background: $m1;
      color: $m2;
    }

  }

}


/* ================
// Grid
// ============= */

.mimo-theme {

  @media (min-width: 700px) {

    & .column-big {
      create-grid: 12;
    }

  }

  & .grid {
    margin: 0 em(-20, 18);
  }

    & [class^="column"] {
      margin-bottom: em(20, 18);
      padding: 0 em(20, 18);

      & h3 {
        margin: 0;
      }

    }

}


/* ================
// Reasons
// ============= */

.mimo-theme {

  & .reason-symbol {
    display: table-cell;
    vertical-align: top;
    padding-right: em(20, 18);

    & .symbol {
      height: em(30, 18);
      width: em(30, 18);
      fill: $m2;
    }

  }

  & .reason-details {
    display: table-cell;
    vertical-align: top;
    padding-bottom: em(20, 18);
  }

}


/* ================
// Slideshow
// ============= */

.mimo-theme {

  & .sail-slides {
    text-align: center;

    & li {
      display: inline-block;
      margin-bottom: em(20, 35);
      padding: em(50, 35) em(20, 35);
      font-size: em(35, 18);
      font-weight: 700;
      line-height: 1;
      background: $m2;
      color: $m1;
    }

  }

    & .sail-controls {
      margin-bottom: em(15, 18);
    }

      & .sail-control {
        border: 0;
        padding: 0 em(10, 35);
        font-size: em(35, 18);
        background: none;
        color: inherit;
        transition:
          opacity .25s,
          transform .25s;

        &:not([disabled]):focus,
        &:not([disabled]):hover {
          transform: scale(1.25);
        }

        &[disabled] {
          opacity: .25;
        }

      }

        & .symbol-sail-control {
          fill: currentColor;
          font-size: 75%;
        }

    & .sail-page {
      height: em(20, 18);
      width: em(20, 18);
      background: none;
      border: em(2, 18) solid;
      margin: 0 em(5, 18);
      border-radius: 100%;
      color: currentColor;
      transition: background .2s;

      &:focus,
      &:hover {
        background: $m2;
      }

    }

    & .sail-page-active {
      background: currentColor;

      &:focus,
      &:hover {
        background: currentColor;
      }

    }

}


/* ================
// Lantern
// ============= */

.mimo-theme {

  & .lantern-grid {
    margin: 0 em(-20, 18);
  }

    & .lantern-column {
      width: 100%;
      margin-bottom: em(20, 18);

      &:first-child {

        @mixin media $big {
          width: 57.5%;
          margin-bottom: 0;
        }

      }

      &:last-child {
        margin-bottom: 0;

        @mixin media $big {
          width: 42.5%;
        }

      }

    }

      & .lantern {
        padding: em(50, 18);
        background: rgba(255, 255, 255, .75);
      }

        & .lantern-holder {
          border: em(5, 18) solid #fff;
        }

        & .lantern-control {
          border: 0;
          background: none;
        }

        & .lantern-prev {
          transform: translate(-100%, -50%);
        }

        & .lantern-next {
          transform: translate(100%, -50%);
        }

        & .lantern-close {
          position: absolute;
          top: 0;
          right: 0;
        }

}


/* ================
// Harmonica
// ============= */

.mimo-theme {

  & .harmonica-header {
    border: 0;
    margin: 0 0 em(20, 18);
    padding: .5em 1em;
    text-align: left;
    background: $m2;
    color: inherit;
    transition: transform .25s;

    & h4 {
      margin: em(10, $h4Size) 0;
    }

  }

  & .harmonica-header-active {
    background: $m1;
    color: #fff;
  }

  & .harmonica-content {
    margin-bottom: em(20);
  }

}
