/* ================
// Sail Slideshow
// ============= */

@define-mixin active-slide {
  position: relative;
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
}

.sail-slides {
  @mixin list-reset;
}

  .sail-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity .5s,
      visibility .5s;

    @media print {
      @mixin active-slide;
    }

    &-active {
      @mixin active-slide;
    }

  }


/* ================
// Sail Controls
// ============= */

.sail-controls {
  user-select: none;

  @media print {
    display: none;
  }

}

  .sail-control {
    cursor: pointer;

    &:not([disabled]):focus,
    &:not([disabled]):hover {}

    &[disabled] {
      cursor: not-allowed;
    }

  }

  .sail-prev {}

  .sail-next {}


/* ================
// Sail Pagination
// ============= */

.sail-pages {
  user-select: none;

  @media print {
    display: none;
  }

}

  .sail-page {
    display: inline-block;
    cursor: pointer;

    &:focus,
    &:hover {}

    &-active {}

  }
