/* ================
// Sail Slide
//   http://codepen.io/mimoduo/pen/gabWmN
//   https://github.com/mimoduo/Sail
// ============= */

@define-mixin active-slide {
  position: relative;
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
}

.sail-slides {
  @mixin list-reset;

  & li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity .5s,
      visibility .5s,
      transform .5s;

    @media print {
      @mixin active-slide;
    }

    &.sail-active {
      @mixin active-slide;
    }

  }

}


/* ================
// Sail Directions
// ============= */

.sail-controls {
  user-select: none;

  @media print {
    display: none;
  }

}

  .sail-control {
    cursor: pointer;
    
    &:hover {}

  }

  .sail-prev {}

  .sail-next {}


/* ================
// Sail Markers
// ============= */

.sail-pages {
  user-select: none;

  @media print {
    display: none;
  }

}

  .sail-page {
    display: inline-block;
    cursor: pointer;

    &:hover {}

    &.active {}

  }
