/* ================
// Sail Slideshow
// ============= */

.sail {
  overflow: hidden;
}

  .sail-slides {
    @mixin list-reset;

    white-space: nowrap;
    transition: transform .5s;
  }

    .sail-slide {
      display: inline-block;
      width: 100%;
      margin-right: em(-5);
    }


/* ================
// Sail Controls
// ============= */

.sail-controls {
  user-select: none;

  @media print {
    display: none;
  }

}

  .sail-control {
    cursor: pointer;

    &-previous {}

    &-next {}

  }


/* ================
// Sail Pagination
// ============= */

.sail-pages {
  user-select: none;

  @media print {
    display: none;
  }

}

  .sail-page {
    display: inline-block;
    cursor: pointer;

    &:focus,
    &:hover {}

    &-active {}

  }
