//- ================
//- Home Page
//- ================

extends ../templates/site.pug

block theme
  - themeName = "mimo-theme"

block main
  +section
    .grid
      .col.col-big-6
        h3 Grid Element
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
      .col.col-big-6
        h3 Grid Element
        p Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
  +section
    ol.sail-slides
      li One
      li Two
      li Three
  +section
    .lantern
    .grid.lantern-grid
      .col.lantern-col
        img.lantern-light.full-width(
          src="http://i.imgur.com/TN4ivtD.jpg"
          title="The 'Cathedral Cliffs' of Kauai's Na Pali Coast. Kauai, Hawaii "
        )
      .col.lantern-col
        img.lantern-light.full-width(
          src="http://i.imgur.com/SOABm96.jpg"
          title="Petrified Forest National Park, Arizona"
        )
  +section
    .harmonica
      header.harmonica-header(role="tab")
        h4.harmonica-heading Harmonica One
      article.harmonica-content(role="tabpanel") Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis.
      header.harmonica-header(role="tab")
        h4.harmonica-heading Harmonica Two
      article.harmonica-content(role="tabpanel") Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
