/* ================
// Generic Navigation & Menu Behaviors
// ============= */

nav,
menu {

  ul,
  ol {
    @include list-reset;
  }

    li {

      &:focus,
      &:hover {

        ul,
        ol {
          opacity: 1;
          visibility: visible;
        }
      }

      ul,
      ol {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 200;
        opacity: 0;
        visibility: hidden;
        transition:
          opacity .25s,
          visibility .25s;
      }
    }

      a {
        display: block;
      }
}


/* ================
// Skip Link
// ============= */

.skip-link {
  @include visually-hidden;
  display: inline-block;

  &:focus {
    @include reset-visually-hidden;
  }
}
