//- ================
//- Home Page
//- ================

extends ../templates/site.jade

block themeSelection
  - theme = "main-theme"

block main
  main.site-main
    .compartment
      include ../blocks/article.jade
      include ../blocks/table.jade
