//- ================
//- Home Page
//- ================

extends ../templates/site.jade

block themeSelection
  - theme = "mimo-theme"

block main  
  .compartment
    include ../blocks/article.jade
    include ../blocks/table.jade
