//- ================
//- Home Page
//- ================

extends ../templates/site.jade

block themeSelection
  - theme = "mimo-theme"

block main  
  //- .section.grid-section
  //-   .compartment
  //-     .grid.mimo-grid
  //-       include ../mimo/grid.jade
  //- .section.collage-section
  //-   .compartment
  //-     ol.collage.mimo-collage
  //-       include ../mimo/collage.jade
  //- .section.harmonica-section
  //-   .compartment
  //-     .harmonica.mimo-harmonica
  //-       include ../mimo/harmonica.jade
  //- .section.lantern-section
  //-   .compartment
  //-     .lantern.mimo-lantern
  //-       include ../mimo/lantern.jade
