//- ================
//- Home Page
//- ================

extends ../templates/site.jade

block themeSelection
  - theme = "mimo-theme"

block main  
  .section
    .compartment
      .grid
        include ../mimo/grid.jade
  .section
    .compartment
      ol.collage.list-reset
        include ../mimo/collage.jade
  .section
    .compartment
      ol.sail-slide
        include ../mimo/sail.jade
  .section
    .compartment
      .lantern
      .grid.lantern-grid
        .col.lantern-col
          img.lantern-light.full-width(
            src="http://i.imgur.com/TN4ivtD.jpg"
            title="The 'Cathedral Cliffs' of Kauai's Na Pali Coast. Kauai, Hawaii "
          )
        .col.lantern-col
          img.lantern-light.full-width(
            src="http://i.imgur.com/SOABm96.jpg"
            title="Petrified Forest National Park, Arizona"
          )
  .section
    .compartment
      .harmonica
        include ../mimo/harmonica.jade
