.button {
  display: inline-block;
  vertical-align: top;
  border: 0;
  margin: 0 em(10) em(10) 0;
  padding: em(10) em(20);
  cursor: pointer;
  text-align: center;

  &:focus,
  &:hover {}

  &[disabled] {
    cursor: not-allowed;
    pointer-events: none;
  }

  &-modifier {}

}
