/* ================
// Form Container
// ============= */

form {}

  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }


/* ================
// Label
// ============= */

label {}


/* ================
// Input
// ============= */

input {

  &:default {}

  &:disabled {}

  &:checked {}

}

[type='text'] {}

[type='radio'] {}

[type='checkbox'] {}

[type='range'] {}


/* ================
// Textarea
// ============= */

textarea {}


/* ================
// Select
// ============= */

select {}
