/* ================
// Common Media
// ============= */

img,
svg,
video,
canvas {
  height: auto;
  max-width: 100%;
}


/* ================
// Images
// ============= */

img {
  display: block;

  &.full-width {
    width: 100%;
  }

}


/* ================
// Figure
// ============= */

figure {
  margin: 0;
}

  figcaption {}


/* ================
// Iframes
// ============= */

iframe {
  max-width: 100%;
  width: 100%;
  border: 0;
}


/* ================
// Spotlights
// ============= */

.spotlight {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  & img {
    display: none;
  }
  
}
