/* ================
// Site Logo
// ============= */

.site-logo {
  display: block;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
}

  .site-logo-label {
    @include visually-hidden;
  }
