//- ================
//- Collage Sample Block
//- ================

li.spotlight(style="background-image: url(./dist/images/coast.jpg);")
li.spotlight(style="background-image: url(./dist/images/mountains.jpg);")
li
li
