//- ================
//- Collage Sample Block
//- ================

li.spotlight(style="background-image: url(./dist/images/jehuty.jpg);")
li.spotlight(style="background-image: url(./dist/images/anubis.jpg);")
li
  h4 Jehuty
li
  h4 Anubis
