//- ================
//- Collage Sample Block
//- ================

li.spotlight(style="background-image: url(http://i.imgur.com/4XOMHmR.jpg);")
li.spotlight(style="background-image: url(http://i.imgur.com/f26omz5.jpg);")
li
  h4 Jehuty Collage
li
  h4 Anubis Collage
