//- ================
//- Collage Sample Block
//- ================

li.spotlight(style="background-image: url(http://i.imgur.com/e1H18Sz.jpg);")
li.spotlight(style="background-image: url(http://i.imgur.com/f26omz5.jpg);")
li
  h4 RMNP Collage
li
  h4 CO Collage
