/* ================
// Form Container
// ============= */

form {}

  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }


/* ================
// Form Elements
// ============= */

label {}

input {

  &[type='text'] {}

  &[type='radio'] {}

  &[type='checkbox'] {}

  &[type='submit'] {}

}

select {
  appearance: none;
  background: url('') no-repeat calc(100% - 20px) 50%;
}

textarea {
  min-height: em(220);
}
