/* ================
// Form Container
// ============= */

form {}

  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }


/* ================
// Form Elements
// ============= */

label {}

input {

  &[type='text'] {}

  &[type='radio'] {}

  &[type='checkbox'] {}

  &[type='submit'] {}

}

select {}

textarea {}
