/* ================
// Headings
// ============= */

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* h1:Heading One */
@define-mixin h1 {
  margin: rem(20) 0;
  font-size: rem($h1Size);
  line-height: nu($h1Line, $h1Size);
}

h1 {
  @mixin h1;
}

/* h2:Heading Two */
@define-mixin h2 {
  margin: rem(20) 0;
  font-size: rem($h2Size);
  line-height: nu($h2Line, $h2Size);
}

h2 {
  @mixin h2;
}

/* h3:Heading Three */
@define-mixin h3 {
  font-size: rem($h3Size);
  line-height: nu($h3Line, $h3Size);
}

h3 {
  @mixin h3;
}

/* h4:Heading Four */
@define-mixin h4 {
  font-size: rem($h4Size);
  line-height: nu($h4Line, $h4Size);
}

h4 {
  @mixin h4;
}

/* h5:Heading Five */
@define-mixin h5 {
  margin: rem(20) 0;
  font-size: rem($h5Size);
  line-height: nu($h5Line, $h5Size);
}

h5 {
  @mixin h5;
}

/* h6:Heading Six */
@define-mixin h6 {
  margin: rem(20) 0;
  font-size: rem($h6Size);
  line-height: nu($h6Line, $h6Size);
}

h6 {
  @mixin h6;
}
