//- ================
//- Table Block
//- ================

table
  thead
    tr
      th(scope="col") Mimo Header One
      th(scope="col") Mimo Header Two
      th(scope="col") Mimo Header Three
  tbody
    tr(scope="row")
      td Mimo Row Item One
      td Mimo Row Item Two
      td Mimo Row Item Three
    tr(scope="row")
      td Mimo Row Item One
      td Mimo Row Item Two
      td Mimo Row Item Three
    tr(scope="row")
      td Mimo Row Item One
      td Mimo Row Item Two
      td Mimo Row Item Three
